body {
    background-color: #fffbf6 !important;
}

.need-help-link {
    font-size: small;
    text-align: right;
    position:absolute;
    bottom:0;
    right:0;
    padding-right: 3%;
    padding-bottom: 1%;
}

.msg {
    margin-top: 6%;
    text-align: center;
}

.large-header {
    padding-top: 10%;
    padding-bottom: 8%;
    padding-left: 0;
}

.back-btn {
    padding-right: 3%;
}

.advanced-config-btn-grp {
    margin-top: 7%;
}

.form-inline-link-div {
    width: 15%;
    display: flex;
    justify-content: center;
}

.form-inline-link {
    margin-bottom: 0;
    padding-bottom: 0;
}

#advanced-config-header {
    padding-bottom: 10%;
}

.no-top-padding {
    padding-top: 0%;
}

.vertical-center {
    background-color: #fffbf6 !important;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

.icon-col {
    margin-right:0%; 
    padding-right: 0%;
    padding-left: 1%;
}

.text-col {
    padding-left: 2.5%;
}

.descriptive-option {
    opacity: 0.8;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 20%;
}

.descriptive-option:hover {
    opacity: 1;
    background: #f8f2eb;
    cursor: pointer;
}