body {
    background-color: #fffbf6 !important;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.maximum-height {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
}

.separator {
    height: 10%;
}

.text-small {
    font-size: 0.7em;
}