html, body {
    height: 100%;
}

.container {
    padding: 5%;
    padding-left: 25px;
    padding-right: 15px;
    height: 100%;
}

#msgBox {
    max-height: 80vh;
    overflow-y: auto;
    margin-bottom: 7%;
}

#msgBox {
    padding-right: 5%;
    padding-bottom: 3%;
}