body {
    background-color: #fffbf6 !important;
}

#loadingSpinner {
    display: none;
}

.loading-spinner-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-spinner-text {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.need-help-link {
    font-size: small;
    text-align: right;
    position:absolute;
    bottom:0;
    right:0;
    padding-right: 3%;
    padding-bottom: 1%;
}

.result-box {
    font-size: small;
    text-align: left;
    position:absolute;
    bottom:0;
    left:0;
    padding-left: 3%;
    padding-bottom: 1%;
}

.msg {
    margin-top: 6%;
    text-align: center;
}

.large-header {
    padding-top: 10%;
    padding-bottom: 8%;
    padding-left: 0;
}

.back-btn {
    padding-right: 3%;
}

#choose-startdir-btn {
    float: right;
}

#simple-config-alert-close-btn {
    float: right;
}

.refill-btn {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
    margin-right: 1%;
    margin-top: 1%;
    /* float: right; */
}

.refill-btn-tool-tip {
    margin-left: 0;
    display:inline-block;
    /* vertical-align: bottom;  */
    font-size: smaller;
    opacity: 0;
}

.refill-btn:hover + .refill-btn-tool-tip {
    opacity: 1;
    transition-delay: 0.3s;
}

.refill-btn-tool-tip {
}

/* #beg-config-alert-box {} */

.config-btn-grp {
    display: inline;
    margin-top: 7%;
    margin-bottom: 10%;
}

.form-inline-link-div {
    width: 8%;
    display: flex;
    justify-content: center;
}

.form-inline-icon {
    /* width: 8%; */
    margin: 2%;
    margin-left: 0;
    display: flex;
    justify-content: center;
}

.align-bottom {
    position: absolute;
    bottom: 10%;
}

#begInfoBox {
    /* vertical-align: middle; */
    /* line-height: 16vh; */
    height: 16vh;
    overflow-y: auto;
    word-wrap: break-word ;
    margin-bottom: 1%;
    margin-left: 8.33vw;
    /* margin-top: 20%; */
}

#begInputHelpTxt {
    margin-left: 1.5%;
}

.no-bottom-spacing {
    margin-bottom: 0;
    padding-bottom: 0;
}

#advanced-config-header, #beg-config-header {
    padding-bottom: 10%;
}

#advanced-config-header-txt, #beg-config-header-txt {
    display: inline;
}

.no-top-padding {
    padding-top: 0%;
}

.vertical-center {
    background-color: #fffbf6 !important;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

.icon-col {
    margin-right:0%; 
    padding-right: 0%;
    padding-left: 1%;
}

.text-col {
    padding-left: 2.5%;
}

.descriptive-option {
    /* opacity: 0.8; */
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    height: 20%;
}

.descriptive-option:hover {
    opacity: 1;
    background: #ebf0f8;
    cursor: pointer;
}

/* CSS for loading spinner */

.animate_loader {
    /* background: #fff; */
    /* border-radius: 60px; */
    /* box-shadow: 0 2px 8px rgba(0,0,0,.2); */
    margin: -5px auto;
    padding-bottom: 55px;
    width: 50px;
}
 
.animate_loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}
 
.animate_loader .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
 
.animate_loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}
 
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
 
@keyframes dash{
    0%{
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}
 
@keyframes color{
    100%, 0%{
        stroke: #9c0;
    }
    50%{
        stroke: #9c0;
        /* stroke: #FF9300; */
    }
}