body {
  font: caption;
  background-color: #fffbf6 !important;
}

.recent-item-link {}

.inline-btn-link-delete {
  padding-left: 0.5%;
  opacity: 0;
  font-size: 80%;
  text-decoration: none !important;
}

.inline-btn-link-delete:hover {
  opacity: 1;
  color: red;
}

.recent-item-link:hover + .inline-btn-link-delete {
  opacity: 1;
  color: red;
}

.vertical-center {
  background-color: #fffbf6 !important;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.compact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-section {
  margin-top: 4%;
  padding: 1%;
  padding-left: 2%;
  padding-bottom: 2%;
  background: #f8f2eb;
}

.transparent-main-section {
  margin-top: 4%;
  background: #fffbf6;
}


.section-header {
}

.recent-item {
}


/* Large buttons */
.large-btn {
  /* display: inline-block; */
  text-align: center;
  padding: 0.5%;
  /* margin-left: 1%; */
  /* margin-right: 1%; */
  /* float: top; */
}

.large-btn:hover {
  background: #ebf0f8;
  cursor: pointer;
}

.large-btn-icon {
  padding: 10%;
  font-size: 6vw;
}

.large-btn-txt {
  margin-top: 5%;
  font-size: 1em !important;
  height: 3em;
}