body {
  font: caption;
  background-color: #fffbf6 !important;
}

.recent-item-link {}

.inline-btn-link-delete {
  padding-left: 0.5%;
  opacity: 0;
  font-size: 80%;
  text-decoration: none !important;
}

.inline-btn-link-delete:hover {
  opacity: 1;
  color: red;
}

.recent-item-link:hover + .inline-btn-link-delete {
  opacity: 1;
  color: red;
}

.vertical-center {
  background-color: #fffbf6 !important;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.compact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-section {
  margin-top: 4%;
  padding: 1%;
  padding-left: 2%;
  padding-bottom: 2%;
  background: #f8f2eb;
}

.section-header {
}

.recent-item {
  /* background: none; */
  /* padding: 0.5rem; */
  /* margin: 0; */
  /* margin: 0;
  cursor: pointer;
  font-size: 1rem; */
}

/* .todo-item:nth-child(even) {
  background: #f4f4ff;
} */

/* .todo-item:hover {
  background: #d8d8d8
} */
